body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url('/static/images/background.jpeg') no-repeat center center fixed;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: overlay;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#response img {
    max-width: 100px;
    display: block;
    margin: 10px auto;
}
